{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="height: 97vh;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Welcome to the RUC chatbot!</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-black">
        <div class="container-fluid"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-between" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><button class="btn" type="button"><a class="active" href="{% url 'index' %}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-house-fill" style="color: rgb(255,255,255);font-size: 23px;">
                                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"></path>
                                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"></path>
                                </svg></a></button></li>
                                <!-- new: -->
                    <li><p style="color: white; text-align: center;">{{user.first_name}}</p></li>
                    
                    <li class="nav-item"><button class="btn" type="button"><a href="{% url 'info' %}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-info-circle-fill text-white" style="font-size: 23px;">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"></path>
                                </svg></a></button></li>
                    <li class="nav-item"><button class="btn" type="button"><a href="{% url 'logOut' %}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="color: rgb(255,255,255);font-size: 23px;">
                                    <path d="M8.51428 20H4.51428C3.40971 20 2.51428 19.1046 2.51428 18V6C2.51428 4.89543 3.40971 4 4.51428 4H8.51428V6H4.51428V18H8.51428V20Z" fill="currentColor"></path>
                                    <path d="M13.8418 17.385L15.262 15.9768L11.3428 12.0242L20.4857 12.0242C21.038 12.0242 21.4857 11.5765 21.4857 11.0242C21.4857 10.4719 21.038 10.0242 20.4857 10.0242L11.3236 10.0242L15.304 6.0774L13.8958 4.6572L7.5049 10.9941L13.8418 17.385Z" fill="currentColor"></path>
                                </svg></a></button></li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <div style="height: 95vh;margin: 3%;background: #d9d9d9;border-radius: 15px;">

            <div style="height: 85vh;">
                <div><img style="width: 3%;height: 5%;margin: 5%;border-radius: 50%;" src="{% static 'assets/img/roskilde-university-roskilde-denmark-1276929097.png' %}" width="46" height="26"><input type="text" style="color: var(--bs-body-bg);background: #66A2C3;border-radius: 8px;margin: -4%;width: 196px;"></div>
                <div class="d-lg-flex justify-content-lg-end align-items-lg-center"><input type="text" style="color: var(--bs-body-bg);background: #66A2C3;border-radius: 8px;margin: -4%;width: 196px;"><img style="width: 3%;height: 1%;margin: 5%;border-radius: 50%;" src="{% static 'assets/img/unnamed%20(13).jpg' %}" width="46" height="26"></div>
            </div>
            <div class="justify-content-center" style="display: flex;"><input class="shadow" type="text" style="display: flex;width: 70%;border-top-left-radius: 6px;border-bottom-left-radius: 6px;padding-left:1%;"><button class="btn btn-primary bg-light-subtle shadow" type="button" style="background: rgba(255,255,255,0.23);border-top-left-radius: 0px;border-bottom-left-radius: 0px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-send text-black" style="font-size: 20px;">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"></path>
                    </svg></button></div>
        </div>
    </main>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>