{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Font%20Awesome%205%20Brands.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Font%20Awesome%205%20Free.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-md bg-black">
        <div class="container-fluid"><button data-bs-toggle="collapse" data-bs-target="#navcol-1" class="navbar-toggler"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div style="display: flex;" class="collapse navbar-collapse" id="navcol-1">
                <ul style="display: flex;" class="navbar-nav">
                    <li class="nav-item"><button class="btn bg-button" type="button"><a class="nav-link" href="#"><svg class="bi bi-house-fill" fill="#ffffff" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"></path><path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"></path></svg></a></button></li>
                    <li><p style="color: white; text-align: center;">{{user.first_name}}</p></li>
                    <li class="nav-item"><button class="btn bg-black" type="button"><a class="nav-link" href="#"><i class="fas fa-info-circle" style="color:white;"></i></a></button></li>
                    
                </ul>
                <button><a href="{% url 'logOut' %}">Log Out</a></button>
            </div>
        </div>
    </nav>
    <div>
        <main style="margin:5%;padding:30%;border-radius:10px;height:392.525px;color:var(--bs-btn-active-border-color);">
            <div><button class="btn btn-primary border rounded-0" type="button" style="width:42.1px;margin-left:350px;margin-top:137px;padding-top:0px;color:var(--bs-btn-active-border-color);background:url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;), var(--bs-btn-disabled-color);transform:perspective(260px) translate(4px);position:relative;display:inline;">Link</button><input type="text" style="position:relative;display:grid;width:245%;padding-top:3px;padding-right:2px;margin-top:-10%;margin-left:-71%;text-align:left;"></div>
        </main>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

</body>

</html>