{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'loginAssets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'loginAssets/css/bs-theme-overrides.css' %}">
    <link rel="stylesheet" href="{% static 'loginAssets/css/Navbar-Right-Links-icons.css' %}">
    <link rel="stylesheet" href="{% static 'loginAssets/css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark-subtle py-3" data-bs-theme="dark">
        <div class="container"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" fill="none" class="text-light" style="font-size: 34px;">
                    <path d="M10.7071 2.29289C10.3166 1.90237 9.68342 1.90237 9.29289 2.29289L2.29289 9.29289C1.90237 9.68342 1.90237 10.3166 2.29289 10.7071C2.68342 11.0976 3.31658 11.0976 3.70711 10.7071L4 10.4142V17C4 17.5523 4.44772 18 5 18H7C7.55228 18 8 17.5523 8 17V15C8 14.4477 8.44772 14 9 14H11C11.5523 14 12 14.4477 12 15V17C12 17.5523 12.4477 18 13 18H15C15.5523 18 16 17.5523 16 17V10.4142L16.2929 10.7071C16.6834 11.0976 17.3166 11.0976 17.7071 10.7071C18.0976 10.3166 18.0976 9.68342 17.7071 9.29289L10.7071 2.29289Z" fill="currentColor"></path>
                </svg></a><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" fill="none" class="text-light" style="font-size: 32px;">

                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM11 6C11 6.55228 10.5523 7 10 7C9.44772 7 9 6.55228 9 6C9 5.44772 9.44772 5 10 5C10.5523 5 11 5.44772 11 6ZM9 9C8.44772 9 8 9.44772 8 10C8 10.5523 8.44772 11 9 11V14C9 14.5523 9.44772 15 10 15H11C11.5523 15 12 14.5523 12 14C12 13.4477 11.5523 13 11 13V10C11 9.44772 10.5523 9 10 9H9Z" fill="currentColor"></path>
                </svg></a></div>
    </nav>
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-lg-8 col-xl-6 text-center mx-auto">
                    <p class="fw-normal w-lg-50">Use you RUC student number and password</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-lg-7 col-xl-4">
                    <div class="card mb-5">
                        <div class="card-body text-bg-secondary border rounded d-flex flex-column align-items-center">
                            <div class="bs-icon-xl bs-icon my-4"><img src="{% static 'loginassets/img/logo.png' %}" width="116" height="106"></div>
                            <form class="text-center" method="post">
                                <div class="mb-3"><input class="form-control" type="email" name="number" placeholder="Number"></div>
                                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                                <div class="border rounded-pill mb-3"><button class="btn btn-dark border rounded d-block w-100" type="submit">Login</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'loginAssets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>